/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.box{
    height: 200px;
    width: 200px;
    

}

mat-card{
    border-radius: 0 !important;
}

button {
    border-radius: 0 !important;
}